body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.fizz-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.rules-container {
    background: white;
    width: 60%;;
    margin: 0 auto; 
}

.adv-container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.calc-container{
    background: white;
    width: 100%;
    margin: 0 auto; 
}

.todo-container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.task-container{
    background: white;
    width: 100%;
    margin: 0 auto; 
}

input, select, button {
    padding: 20px;
    margin: 10px 0; 
    font-size: 16px;
}

.game-rules {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.advcalc-desc{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

